################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/sistema_academico/.vs/sistema_academico/FileContentIndex
