<form id="frmAlumno" data-idalumno="0" data-accion="nuevo">
    <div class="card text-bg-dark mb-3" style="min-width:700px;">
        <div class="card-header">
            <div class="d-flex">
                Registro de Alumnos
                <div class="ms-auto">
                    <button type="button" data-form="alumno" class="btn-close btn-close-white"></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row p-1">
                <div class="col-3 col-md-2">CODIGO:</div>
                <div class="col-9 col-md-4">
                    <input type="text" class="form-control" id="txtCodigoAlumno" name="txtCodigoAlumno" required>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-3 col-md-2">NOMBRE:</div>
                <div class="col-9 col-md-8">
                    <input type="text" class="form-control" id="txtNombreAlumno" name="txtNombreAlumno" required>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-3 col-md-2">DIRECCION:</div>
                <div class="col-9 col-md-10">
                    <input type="text" class="form-control" id="txtDireccionAlumno" name="txtDireccionAlumno" required>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-3 col-md-2">TELEFONO:</div>
                <div class="col-9 col-md-4">
                    <input type="text" class="form-control" id="txtTelefonoAlumno" name="txtTelefonoAlumno" required>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-12">
                    <input type="submit" class="btn btn-primary" value="Guardar">
                    <input type="reset" class="btn btn-warning" value="Nuevo">
                    <button type="button" class="btn btn-success" onclick="abrirVentanas('busqueda_alumno')">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    frmAlumno.addEventListener('submit', e => {
        e.preventDefault();
        guardarAlumnos();
    });
    frmAlumno.addEventListener('reset', e => {
        e.preventDefault();
        limpiarDatosAlumnos();
    });
    async function guardarAlumnos() {
        let datos = {
            codigo: txtCodigoAlumno.value,
            nombre: txtNombreAlumno.value,
            direccion: txtDireccionAlumno.value,
            telefono: txtTelefonoAlumno.value,
        },
            method = "POST",
            url = "https://localhost:7041/api/Alumnos";
        if (frmAlumno.dataset.accion == "modificar") {
            url = `https://localhost:7041/api/Alumnos/${frmAlumno.dataset.idalumno}`;
            datos.idAlumno = frmAlumno.dataset.idalumno;
            method = "PUT";
        }
        const respuesta = await fetch(url, {
            method,
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(datos)
        }), alumno = await respuesta.json();
        if (alumno && alumno?.idAlumno > 0) {
            alertify.success("Alumno guardado con exito.");
            listarAlumnos();
            limpiarDatosAlumnos();
        } else {
            alertify.error(`Erro al intentar guardar el alumno: ${alumno}`);
            conosle.log(alumno);
        }
    }

    function modificarAlumno(alumno) {
        frmAlumno.dataset.idalumno = alumno.idAlumno;
        frmAlumno.dataset.accion = "modificar";
        txtCodigoAlumno.value = alumno.codigo;
        txtNombreAlumno.value = alumno.nombre;
        txtDireccionAlumno.value = alumno.direccion;
        txtTelefonoAlumno.value = alumno.telefono;
    }
    function limpiarDatosAlumnos() {
        frmAlumno.dataset.idalumno = 0;
        frmAlumno.dataset.accion = "nuevo";
        txtCodigoAlumno.value = "";
        txtNombreAlumno.value = "";
        txtDireccionAlumno.value = "";
        txtTelefonoAlumno.value = "";
    }
</script>