<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/default.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/semantic.min.css" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/bootstrap.min.css" />
    <!--Font Family proveniente de google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!--Para la icono de la contraseña-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css" />
    <title>Document</title>
</head>
<body class="m-0 border-0 bd-example m-0 border-0" style="background-color: #015a95; font-family: Roboto, sans-serif, Arial; min-width: 346px">
    <nav class="navbar justify-content-center" data-bs-theme="White" style="background-color: rgb(4, 4, 117);">
        <ul class="nav justify-content-center menu-nav" style="background-color: rgb(4, 4, 117);">
            <li class="nav-item">
                <a class="nav-link" style="background-color:rgb(4, 4, 117); color: white; margin:0 10px;" href="https://localhost:7253/views/sin-cuenta/desaparecidos.html">Desaparecidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="background-color: rgb(4, 4, 117); color: white; margin:0 10px;" href="https://localhost:7253/views/sin-cuenta/necesitados.html">Necesitados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="background-color: rgb(4, 4, 117) ; color: white; margin:0 10px;" href="https://localhost:7253/views/sin-cuenta/iniciosesion.html">Acceder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="background-color: rgb(4, 4, 117); color: rgb(125, 138, 158); margin: 0 10px;">Mis anuncios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="background-color: blue; color: white; margin: 0 10px; border-radius: 8px;" href="https://localhost:7253/views/sin-cuenta/crear_cuenta.html">Crear cuenta</a>
            </li>
        </ul>
    </nav>

    <!-- tarjetas -->
    <center>
        <div class="container col-md-4 col-sm-6">

            <div class="card" style="width: 20rem; margin-top: 25vh; margin: 25% auto; background-color: rgb(7, 33, 69); color: white; ">
                <div class="card-body" style="display: grid; justify-content: center; align-items: center;">

                    <h5 class="nombre card-title" style="margin-bottom: 10px; padding-top: 15px;">Ingrese su nombre:</h5>

                    <Input type="text" maxlength="75" style=" font-family: Roboto, sans-serif, Arial; font-weight: bold; color: black; text-align: center;" id="txtNombreCuenta" name="txtNombreCuenta">
                    <style>
                        /* Estilo para quitar el borde del input */
                        #txtNombreCuenta {
                            background-color: rgb(3, 133, 135);
                            border: none; /* Quitar el borde */
                            outline: none; /* Quitar el borde al hacer clic */
                        }
                    </style>

                    <h5 class=" user card-title" style="margin-bottom: 10px; padding-top: 15px;">Cree un usuario:</h5>

                    <Input type="text" maxlength="75" style=" font-family: Roboto, sans-serif, Arial; font-weight: bold; color: black; text-align: center;" id="txtUsuarioCuenta" name="txtUsuarioCuenta">
                    <style>
                        /* Estilo para quitar el borde del input */
                        #txtUsuarioCuenta {
                            background-color: rgb(3, 133, 135);
                            border: none; /* Quitar el borde */
                            outline: none; /* Quitar el borde al hacer clic */
                        }
                    </style>
                    <!--AQUI-->
                    <h5 class=" contraseña card-title" style="margin-bottom: 10px; padding-top: 15px;">Cree una contraseña:</h5>

                    <Input type="password" maxlength="10" style=" font-family: Roboto, sans-serif, Arial; font-weight: bold; color: black; text-align: center;" id="txtContraseñaCuenta" name="txtContraseñaCuenta">

                    <i class='bx bx-show-alt' style="color: black; background-color: red; width: 0px; font-size: 30px; transform: translateX(160px) translateY(-28px); cursor: pointer;"></i>
                    <script>
                        //llamamos al input y al icon
                        const txtContraseñaCuenta = document.getElementById("txtContraseñaCuenta")
                        let icon = document.querySelector(".bx");

                        //cada vez que le demos click al icono...
                        icon.addEventListener("click", e => {
                            if (txtContraseñaCuenta.type === "password") {
                                txtContraseñaCuenta.type = "text";
                                icon.classList.remove('bx-show-alt');
                                icon.classList.add('bx-hide');
                            }
                            else {
                                txtContraseñaCuenta.type = "password"
                                icon.classList.add('bx-show-alt');
                                icon.classList.remove('bx-hide');
                            }
                        })
                    </script>

                    <style>
                        #txtContraseñaCuenta {
                            background-color: rgb(3, 133, 135);
                            border: none; /* Quitar el borde */
                            outline: none; /* Quitar el borde al hacer clic */
                        }
                    </style>

                    <button type="button" id="btnCrear_cuenta" name="btnCrear_cuenta" class="btn-primary" style="background-color: rgb(4, 111, 212); border-style: none; border-radius: 45vh; color: white; justify-items: center; ">   Crear   </button>

                </div>
            </div>
        </div>
    </center>
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>


    <script>
        const crear = document.getElementById("btnCrear_cuenta");

        crear.addEventListener("click", guardarCuenta);

        var url;

        async function guardarCuenta() {
            try {
                confirmacion = false;
                const respuesta = await fetch('https://localhost:7253/api/cuentas', {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    }
                }), cuentas = await respuesta.json();
                
                cuentas.forEach(cuentas => {
                    if (cuentas.usuario == txtUsuarioCuenta.value) {

                        confirmacion = true;
                    }
                })

                if (txtNombreCuenta.value == "" || txtUsuarioCuenta.value == "" || txtContraseñaCuenta.value == "") {
                    alertify.error("Ingresa todos los datos");
                } else if (txtContraseñaCuenta.value.length <= 3) {
                    alertify.error("La contraseña debe ser mayor a 3 digitos");
                }
                else {
                    if (confirmacion == true) {
                        alertify.error("El usuario ya existe");
                    } else {
                        let datos = {
                            nombre: txtNombreCuenta.value,
                            usuario: txtUsuarioCuenta.value,
                            contraseña: txtContraseñaCuenta.value,
                        },
                            method = "POST",
                            url = "https://localhost:7253/api/cuentas"


                        const respuesta = await fetch(url, {
                            method,
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(datos)
                        });

                        if (!respuesta.ok) {
                            throw new Error('Error en la solicitud');

                        }
                        else {
                            alertify.success("Su cuenta ha sido creada");
                        }
                        limpieza();
                    }
                }
            } catch {
               
                alertify.error("Error al crear la cuenta");
            }
        }

        function limpieza() {
            txtUsuarioCuenta.value = "";
            txtNombreCuenta.value = "";
            txtContraseñaCuenta.value = "";
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>